# Ignored Files by each folder

# IAED 1819

testes_enunciado
testes_publicos
tests-a_r
tests-basic
tests-c
tests-e
tests-mix
tests-p
tests-r

proj1
proj2
proj1.zip
proj2.zip
testes
test.c
test

run.sh
runall.sh
test.sh
test-vg.sh
test_all_dirs.sh


# LP 1819

testes_publicos
codigo_comum.pl
puzzles_publicos.pl
teste.py

