# Ignored Files by each folder

*.zip
*.o
*.class
*.jar
*.classpath
*.project
*.ucls
*.lua
*.myout
**/CVS/
**/bin/
**/.DS_Store
**/__pycache__
**/testes_publicos/
**/testes-publicos/
**/testes_enunciado/
**/testes-enunciado/

# ----- IAED -----

tests-a_r
tests-basic
tests-big
tests-c
tests-e
tests-mix
tests-p
tests-r
proj1
proj2
IAED/**/*.sh

# ----- LP -----

codigo_comum.pl
puzzles_publicos.pl
exemplos_puzzles.pl
teste.py

# ----- SO -----

outputs
tecnicofs-nosync
tecnicofs-mutex
tecnicofs-rwlock
SO/*/client
SO/*/test-*

# ----- ASA -----

ASA/**/tests/generated

# ----- PO -----

PO/ei-*
PO/ef-*

# --------------------