{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Create a new category {% endblock %}</h1>

    <form method="post">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name">
        </div>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="checkbox">
          <label class="form-check-label" for="checkbox">Is this a sub-category?</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
{% endblock %}